<div class="post_info">
  <% @posts.each do |post| %>
    <div class="post_city_name">
      <a><%= post.city.name %></a>
    </div>
    <div class="post_image">
      <%= link_to image_tag(post.image.variant(resize: '500x500'), class: :post_image), "#" %>
    </div>
    <div class="post_created_at">
      <a><%= l post.created_at %></a>
    </div>
    <div class="post_explain">
      <a><%= post.explain %></a>
    </div>
    <div class="post_delete">
      <%= link_to '削除', post_path(post.id), method: :delete %>
    </div>
  <% end %>
</div>