<div class="post_info">
  <% @posts.each do |post| %>
    <div class="post_city_name">
      <p><%= post.city.name %></p>
    </div>
    <div class="post_created_at">
      <%= l post.created_at %>
    </div>
    <%= link_to image_tag(post.image.variant(resize: '500x500'), class: :post_image), "#" %>
    <div class="post_explain">
      <p><%= post.explain %></p>
    </div>
    <div class="post_delete">
      <%= link_to '削除', post_path(post.id), method: :delete %>
    </div>
  <% end %>
</div>