<div class="wrapper">

  <div class="header">
    <h1 class="app_title">TripPhoto</h1>
    <div class="page_btn">
      <div class="current_user_name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="new_post_btn">
        <%= link_to "新規投稿", new_post_path, method: :get %>
      </div>
    </div>
    <div id="wrapper">
      <nav class="menu">
        <ul>
          <li><a href="#">メニュー1</a></li>
          <li><a href="#">メニュー2</a></li>
          <li><a href="#">メニュー3</a></li>
          <li><a href="#">メニュー4</a></li>
          <li><a href="#">メニュー5</a></li>
        </ul>
      </nav>

      <button type="button" id="nav-btn" class="hamburger">
        <span class="bdr"></span>
        <span class="bdr"></span>
        <span class="bdr"></span>
      </button>

      <div id="contents">
        横幅が768pxになるとハンバーガーメニューが表示されます
      </div>

    </div><!-- wrapper -->






    <%# 検索機能に関する記述 %>
    <%# <%= form_with(url: search_posts_path, local: true, method: :get, class: "search_form") do |form| %>
      <%# <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%# <%= form.submit "検索", class: "search-btn" %>
    <%# <% end %>
    <%# /検索機能に関する記述/ %>
  </div>

  <div class="main">
    <%= render partial: "post", locals: { post: @posts } %>
  </div>
</div>